html {
  height: 100%;
}
body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: black;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 5px 10px 5px 10px;
  font-size: 1.8vmin;
}

button {
  box-sizing: border-box;
  background-color: #34393E;
  color: white;
  font-size: 1.8vmin;
  padding: 0.4rem;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.2); */
  border: none;
  margin-right: 0.5%;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#commandes {
  display: flex;
  flex-direction: column;
  height: 15%;
  text-align: center;
  background-color: #BAFFBA;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
}

#consigne {
}


#zone-boutons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0.5%;
}

.ligne {
  display: flex;
  justify-content: space-around;
  height: 65%;
  width: 100%;
  background-color: #439c43ff;
  background-image: url(img/potagers.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
}

.pre {
  font-size: .9em;
  font-family: "MS Sans Serif", sans;
  height: 100%;
  width: 30%;
  position: relative;
}

.modele {
  float: left;
  width: 30%;
  height: 6%;
  font-size: 4vmin;
  padding: 0.5rem;
  margin-bottom: 3%;
}

.modele-actif {
  background-color: #e0cba1;
}

.modele img {
  max-width: 50%;
  max-height: 100%;
}

.erreur {
  position: relative;
  color: red;
  font-weight: bold;
  font-size: 5vmin;
}

.enclos {
  display: flex;
  flex-wrap: wrap;
  height: 85%;
  width: 100%;
  position: relative;
  /* background-color: black;
  opacity: 0.5; */
}

.enclos img.legume1 {
  position: absolute;
  max-height: 59px;
  max-width: 20px;
  width: 12%;
}
.enclos img.legume2 {
  position: absolute;
  max-height: 36px;
  max-width: 52px;
  width: 12%;
}
.enclos img.legume3 {
  position: absolute;
  max-height: 50px;
  max-width: 53px;
  width: 12%;
}

#baspage {
  display: flex;
  height: 20%;
  background-color: #e0cba1;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
}

#espace {
  display: block;
  width: 20%;
}

#reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

#reserve img{
  width: 30%;
  max-width: 150px;
  max-height: 150px;
}

#elimination {
  width: 20%;
}

img#poubelle {
  display: block;
  width: 50%;
  max-width: 90%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-height: 640px) {
  .enclos img.legume1 {
    max-height: 12%;
    width: auto;
  }
  .enclos img.legume2,
  .enclos img.legume3 {
      max-height: 8%;
      width: auto;
    }
}

@media screen and (max-height: 480px) {
  #consigne {
    display: none;
  }
  .modele {
    margin-bottom: 1%;
  }
}

@media (min-aspect-ratio: 3/2) {
  #reserve img{
    max-height: 80%;
    width: auto
  }
  img#poubelle {
    max-height: 70%;
    width: auto;
    margin-top: 2%;
  }
}

@media screen and (max-width: 890px) {
  .modele {
    width: 40%;
  }